datadir={{ datadir }}

checklevel=0
disablewallet=1

listen=1
bind=0.0.0.0
port=8333
maxconnections=64

printtoconsole=1

rpcbind={{ rpcbind }}
rpcallowip={{ rpcallowip }}
rpcport={{ rpcport }}
rpcuser={{ rpcuser }}
rpcpassword={{ rpcpassword }}
