<h4>Node status: <span class="bitcoind_running label label-default">LOADING</span></h4>
{% if request.private %}<p><span class="lan-address"></span><br><span class="text-muted">LAN address</span></p>{% endif %}
<p><span class="wan-address"></span><br><span class="text-muted">WAN address</span></p>
<p><span class="user-agent"></span><br><span class="text-muted">User agent</span></p>
<p><span class="protocol-version"></span><br><span class="text-muted">Protocol version</span></p>
<p><span class="blocks"></span><br><span class="text-muted">Blocks</span></p>
<p><span class="connections"></span><br><span class="text-muted">Connections</span></p>
<hr>
<a href="https://getaddr.bitnodes.io/hardware/" target="_blank" id="bitnodes-hardware">Bitnodes Hardware</a>
<span>Model B1</span>
